target/
**/target/
**/Cargo.lock
**/node_modules/
**/venv/
**/.env
**/.DS_Store
**/CACHEDIR.TAG
/.cargo/
/.idea/
/.vscode/
**/build/
**/dist/
**/out/
**/.pytest_cache/
**/.mypy_cache/
**/.pyo3_built/
**/__pycache__/
**/.eggs/
**/*.egg-info/
**/.coverage
**/.tox/
**/.pytest_cache/
**/.ruff_cache/